<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/help']">
        <ion-icon slot="icon-only" name="help"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title translate>OVERVIEW.TITLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="(shownDevices | async)?.length === 0">
    <ion-card-header translate>
      OVERVIEW.NO_KNOWN_DEVICES
    </ion-card-header>
    <ion-card-content translate>
      OVERVIEW.NO_KNOWN_DEVICES_DESC
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-item *ngFor="let device of devices | async" button (click)="deviceTapped(device)" detail="false">
      <ion-thumbnail slot="start">
        <img [src]="device.iconUrl" (error)="badImage(device)">
      </ion-thumbnail>
      <ion-thumbnail slot="end">
        <ion-icon [hidden]="!device.reachable" name="checkmark-circle-outline" color="success"
          class="device_status_icon"></ion-icon>
        <ion-icon [hidden]="device.reachable" name="alert-circle-outline" color="danger" class="device_status_icon">
        </ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2>{{device.name}}</h2>
        <p>{{device.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" [routerLink]="['/discover']" translate>
    OVERVIEW.DISCOVER_BUTTON
  </ion-button>

  <ion-button expand="block" color="light" (click)="addManually()" translate>
    OVERVIEW.MANUAL_BUTTON
  </ion-button>

  <ion-button expand="block" color="light" (click)="refresh()">
    <ion-icon name="refresh-outline"></ion-icon>
    {{ 'OVERVIEW.REFRESH_BUTTON' | translate }}
  </ion-button>
</ion-content>
