<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{ 'ADD_DEVICE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button translate (click)="modalController.dismiss()">CANCEL</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div id="spinner-container" align="center" *ngIf="busy else elseBlock">
    <ion-spinner id="spinner"></ion-spinner>
  </div>

  <ng-template #elseBlock>
  <ion-list lines="full" class="ion-no-margin ion-no-padding"></ion-list>
  <ion-item>
    <ion-label translate position="stacked">DEVICE_ID</ion-label>
    <ion-input placeholder="myserial.mydomain.net" required type="text" [(ngModel)]="deviceId"></ion-input>
  </ion-item>

  <ion-button translate expand="block" (click)="add()" [disabled]="deviceId.length == 0">
    ADD_DEVICE.ADD_BUTTON
  </ion-button>

  <ion-button translate expand="block" color="light" (click)="scan()">
    ADD_DEVICE.SCAN_BUTTON
  </ion-button>

  <ion-button translate expand="block" color="light" (click)="clear()">
   ADD_DEVICE.CLEAR_BUTTON
  </ion-button>

  <ion-card>
    <ion-card-header translate>
      ADD_DEVICE.AC_HEADER
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="'ADD_DEVICE.AC_DESC' | translate"></div>
      <ion-button translate expand="block" color="light" (click)="shareFingerprint()">
        ADD_DEVICE.AC_BUTTON
      </ion-button>
    </ion-card-content>
  </ion-card>
</ng-template>
</ion-content>
