<ion-header translucent>
  <ion-toolbar>
    <ion-title>Manually Add Device</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list lines="full" class="ion-no-margin ion-no-padding"></ion-list>
  <ion-item>
    <ion-label position="stacked">Device ID</ion-label>
    <ion-input placeholder="myserial.mydomain.net" required type="text" [(ngModel)]="deviceId"></ion-input>
  </ion-item>

  <ion-button expand="block" color="light">
    Scan QR with device ID
  </ion-button>

  <ion-button expand="block" color="light">
    Clear device ID
  </ion-button>

  <ion-button expand="block" [disabled]="deviceId.length == 0">
    Add device ID
  </ion-button>

  <ion-card>
    <ion-card-header>
      Access Control
    </ion-card-header>
    <ion-card-content>
      <p>
      Your public key fingerprint must be added to the device's
      Access Control List before you can access the device.
      The device owner can add this.
      </p>
      Share your public key fingerprint here:
      <ion-button expand="block" color="light">
        Share public key fingerprint
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
